<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
    <title>{{global.title}}</title>
    <meta name="description" content="{{global.description}}" />

</head>

<body>
    {{>nav}}

	<div class="content-main container-fluid ">
        {{>sidebar}}

        <!-- [ Main Content ] start -->
        <div class="pcoded-main-container">
            <div class="pcoded-content pt-5">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="page-header-title">
                            <h5 id="header-selected" class="m-b-10"></h5>
                        </div>
                        <ul class="breadcrumb">
                            <li id="header-detail" class="breadcrumb-item"><a href="#!"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->

                <div class="row">
                    <div id="main-content" class="col-sm-12 col-md-8 col-xl-8">
                    </div>

                    <div class="col-sm-12 col-md-4 col-xl-4">
                        {{>about-card}}
                    </div>

                </div>
            </div>
        </div>
    </div>

	{{>scripts}}
    <script type="text/javascript" src="https://cdn.turbo360-dev.com/templates/base-template-tnzakf/dist/js/pages/home.min.js"></script>
</body>

</html>
