<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/vertex.min.js" vtx-token="{{token}}" entry="{{entry}}"></script>
<script type="text/javascript" src="https://cdn.turbo360-dev.com/templates/base-template-tnzakf/dist/js/vendor.min.js"></script>
